extends layout

block content
  // Folder view
  h1= title
  p Welcome to #{title}
  p user :tu password :tp
  if currentUser
    if folderid
      form(action=`/folder/${folderid}/update` method='post')
        label(for='rename') Rename&nbsp;
        input(type='text' name='name' id='rename')
        span &nbsp;
        button(type='submit') Update
      form(action=`/folder/${folderid}/delete` method='post')
        button(type='submit') Delete
    form(action=`/folder/${folderid}` method='post')
      label(for='name') New folder&nbsp;
      input(type='text' name='name' id='name')
      span &nbsp;
      button(type='submit') Create
    form(action=`/file/upload/${folderid}` method='post' enctype='multipart/form-data')
      input(type='file' name='upload')
      button(type='submit') Upload
    ul
      if folders
        for folder in folders
          li
            a(href=`/folder/${folder.id}`)= folder.name + '/'
      if files
          for file in files
            li
              a(href=`/file/${file.id}`)= file.name
              // to fix
      if !folders && !files
        p There is no folder or file
  else
    p please login
